# Common build directories used in the source tree
/build
/.build
/build.appleseed
/build64

# Temporary files
*~
\#*\#
.\#*
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# OS specific files
.DS_Store
.DS_Store?

.vscode
.clang-format
